table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

th, td {
  padding: 12px 15px;
  border: 1px solid #dddddd;
}

td:nth-child(3) {
  width: 50%; /* Make description column wider */
}
